<div class="content panel panel-body panel-default">

    <div class="text-center">
        <h4 class="text-danger"
            *ngIf="listOfStops.length === 0">There are no loaded stops (zoom map).</h4>
        <button class="btn btn-warning" *ngIf="filteredView" (click)="cancelFilter()">Cancel filter</button>
    </div>

    <!--{{listOfStopsForRoute | json}}-->

    <div *ngIf="filteredView" class="small">
        <div *ngFor="let stop of listOfStopsForRoute; let i = index ;">
            <span class="explore" (click)="exploreStop($event, stop)"><i class="fa fa-search" aria-hidden="true"></i></span>
            <span> {{i + 1}}. {{stop.role}} {{stop.tags.name || stop.id}}
                <span>
                    <img *ngIf="stop.tags.public_transport === 'platform'" src="/images/transport/platform.png" alt="platform">
                    <img *ngIf="stop.tags.public_transport === 'stop_position'" src="/images/transport/bus.png" alt="stop">
                </span>
            </span>
        </div>
    </div>

    <div *ngIf="listOfStops.length !== 0 && !filteredView; " class="small">
        <div *ngFor="let stop of listOfStops" id="{{stop.id}}">
            <span class="explore" (click)="exploreStop($event, stop)"><i class="fa fa-search" aria-hidden="true"></i></span>
            <span> {{stop.tags.public_transport}} {{stop.tags.name || stop.id}} </span>
        </div>
    </div>
</div>
